<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">

    <title>Shop DTR Admin</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/frontawesome/all.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/stype.css}">
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container-fluid">
    <div>
        <nav class="navbar navbar-expand-xxl bg-dark navbar-dark">
            <a class="navbar-brand" th:href="@{/}"><!--Click on the logo to redirect to Home Page-->
                <img th:src="@{/images/ShopmeAdminSmall.png}"/>
            </a>
            <!--Add button menu for menu item-->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!--Management TabBar-->
            <div class="collapse navbar-collapse" id="topNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/users}">Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/categories}">Categories</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/brands}">Brands</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/products}">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/customers}">Customers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/orders}">Orders</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/shipping}">Shipping</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/salesReport}">Sale Reports</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/articles}">Articles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/menu}">Menu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/settings}">Settings</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div>
        <h2>Investor Management</h2>
        <a th:href="@{/users/new_user}">Create New User</a>
        &nbsp;|&nbsp;
        <a th:href="@{/users/exports/csv}">Export CSV</a>
        &nbsp;|&nbsp;
        <a th:href="@{/users/exports/excel}">Export Excel</a>
        &nbsp;|&nbsp;
        <a th:href="@{/users/exports/pdf}">Export PDF</a>
    </div>
    <div th:if="${message != null}" class="alert alert-success text-center">
        [[${message}]]
    </div>
    <div>
        <form th:action="@{/users/page/1}" class="d-flex flex-row align-items-center flex-wrap m-3">
            <input type="hidden" name="sortField" th:value="${sortField}"/>
            <input type="hidden" name="sortDir" th:value="${sortDir}"/>
            Filter:&nbsp;
            <input type="search" name="keyword" th:value="${keyword}" class ="form-control" style="width: 180px" required/>
            &nbsp;&nbsp;
            <input type="submit" value="Search" class="btn btn-primary"/>
            &nbsp;&nbsp;
            <input type="button" value="Clear" class="btn btn-secondary" onclick="clearFilter()"/>
        </form>
    </div>
    <div>
        <table class="table table-responsive-xl table-bordered table-striped table-hover">
            <thead class="table-dark ">
            <tr >
                <th style="width: 55px" th:replace="fragments :: collumn_link('id', 'ID')">
                </th>
                <th style="width: 120px">Photos</th>
                <th style="width: 150px" th:replace="fragments :: collumn_link('firstName', 'First Name')">
<!--                    &lt;!&ndash; Make column headers clickable &ndash;&gt;-->
<!--                    <a th:if="${sortField != 'firstName'}" class="text-white" style="text-decoration: none;"-->
<!--                        th:href="@{'/users/page/' + ${currentPage} + '?sortField=firstName&sortDir=' + ${sortDir}}">-->
<!--                        First Name-->
<!--                    </a>-->
<!--                    <a th:if="${sortField == 'firstName'}" class="text-white" style="text-decoration: none;"-->
<!--                       th:href="@{'/users/page/' + ${currentPage} + '?sortField=firstName&sortDir=' + ${revertSortDir}}">-->
<!--                        First Name-->
<!--                    </a>-->
<!--                    &lt;!&ndash; Show icon sort up/down &ndash;&gt;-->
<!--                    <span th:if="${sortField == 'firstName'}"-->
<!--                        th:class="${sortDir == 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}"></span>-->
                </th>
                <th style="width: 150px" th:replace="fragments::collumn_link('lastName', 'Last Name')">
                </th>
                <th style="width: 300px" th:replace="fragments::collumn_link('email', 'E-mail')">
                </th>
                <th style="width: 500px">Roles</th>
                <th style="width: 20px">Enable</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user: ${listUsers}">
                <td>[[${user.id}]]</td>
                <td>
                    <span th:if="${user.photos == null}" class="fas fa-portrait fa-2x icon-dark"></span>
                    <img th:if="${user.photos != null}" th:src="@{${user.getPhotosImagePath()}}"
                    style="width: 90px"/>
                </td>
                <td>[[${user.lastName}]]</td>
                <td>[[${user.firstName}]]</td>
                <td>[[${user.email}]]</td>
                <td>[[${user.roles}]]</td>
                <td>
                    <a th:if="${user.enable} == true" class="fas fa-check-circle icon-green"
                       th:href="@{'/users/' + ${user.id} + '/enable/false'}"
                       title="Enable"
                    ></a>
                    <a th:if="${user.enable} == false" class="fas fa-circle icon-dark"
                       th:href="@{'/users/' + ${user.id} + '/enable/true'}"
                       title="Disable"
                    ></a>
                </td>
                <td>
                    <a class="fa-solid fa-pen-to-square icon-green fa-2x" th:href="@{'/users/edit/' + ${user.id}}"
                       title="Edit"></a>
                    &nbsp;
                    <a class="fa-solid fa-trash icon-dark fa-2x link-delete"
                       th:href="@{'/users/delete/' + ${user.id}}"
                       th:userId = "${user.id}"
                       title="Delete"></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center m-1" th:if="${totalItems} > 0">
        <span>Showing users # [[${startCount}]] to [[${endCount}]] of [[${totalItems}]]
        </span>
    </div>

<!-- Create pagination for the list item -->
    <div th:if="${totalPages > 0}">
        <nav>
            <ul class="pagination justify-content-center">
                <li th:class="${currentPage == 1? 'page-item disabled' : 'page-item'}">
                    <a th:replace="fragments::page-link('1', 'First')"></a>
                </li>
                <li th:class="${currentPage == 1? 'page-item disabled' : 'page-item'}">
                    <a th:replace="fragments::page-link(${currentPage - 1} , 'Previous')"></a>
                </li>
                <li th:class="${currentPage != i? 'page-item': 'page-item active'}" th:each="i: ${#numbers.sequence(1, totalPages)}">
                    <a th:replace="fragments::page-link(${i}, ${i})"></a>
                </li>
                <li th:class="${currentPage != totalPages? 'page-item': 'page-item disabled'}">
                    <a th:replace="fragments::page-link(${currentPage + 1} , 'Next')"></a>
                </li>
                <li th:class="${currentPage != totalPages? 'page-item': 'page-item disabled'}">
                    <a th:replace="fragments::page-link(${totalPages} , 'Last')"></a>
                </li>
            </ul>
        </nav>
    </div>
    <!--End create pagination for the list item-->
    <div class="text-center m-1" th:unless="${totalItems} > 0">
        <span>No users found</span>
    </div>
    <!--Create dialog delete confirmation-->
    <div class="modal fade text-center" id="confirmDialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Delete Confirmation</h4>
                    <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <span id="confirmText"></span>
                </div>
                <!-- Create button Yes/No to confirmation -->
                <div class="modal-footer">
                    <a class="btn btn-success" href="" id="yesButton">Yes</a>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">No</button>
                </div>

            </div>

        </div>
    </div>
    <div class="text-center" style="height: 2px">
        <p>THE VIETNAMESE INVESTOR - Copyright &copy; StockDtr</p>
    </div>
</div>
<script type="text/javascript">
    // Delete user function
    $(document).ready(function () {
        $(".link-delete").on("click", function (e) {
            e.preventDefault();
            link = $(this);
            userId = link.attr("userId");
            $("#yesButton").attr("href", link.attr("href"))
            $("#confirmText").text("Are you sure you want to delete this User ID " + userId + "?");
            $("#confirmDialog").modal("show");
        });
    });

    // Make clear button for filter.
    function clearFilter() {
        window.location = "[[@{/users}]]"
    }
</script>
</body>
</html>